    body {
        margin: 0%;    
    }    
    
    
    header {   
       
        background-color:  black;
        display: flex;
        position: sticky;
        top: 0px;
        justify-content: right;
        row-gap: 2%;
        padding: 1.4%;
        /*aplicamos z-index para jugar con las capas
        para así evitar la superposición del texto de
        la imagen principal al header sticky*/
        z-index: 1;
        gap: 1%;
        
    }
    
    a:hover {
    
        transition: all 300ms;
        transform: scale(1.10);
    
    }
    
    
    
    
    
    
    
    /*parte de la cabecera con la foto*/
    .DIVCABECERA{
     display: flex; 
     align-items: center; 
     
    
    
    }
    
    .headerIMG{
       
    max-height: 20%;
    max-width: 100%;
    }  
    
    .RestaurantElsCobertsTEXT{
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 10%;
        color: white;
        position: absolute;
        font-size: 35px;
        
        
      
    }
    /*//////////////////////////////////*/
    
    
    
    .a {
    background-color: black;
    color: white;
    
    }
    
    .div {
        height: 4%;
    }
    /* @media */
    main {
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
    }
    .sobrenosaltres {
    
    }
    
    /*@MEDIA*/
    /*primera foto con párrafo principal*/
    .PrimeraFotoYParrafo {
        display: flex;
       
        justify-content:space-around;
        gap: 1rem;
        
    }
    
     /*@MEDIA*/
    .imagenNosaltres{
    
    width: 30%;
    height: 30%;
    border-radius: 5%;
    }
    /*//////////////////////////////////////*/
    
    /*segunda foto con párrafo principal*/
    .SegundaFotoYParrafo {
        display:flex;
        /*quitar margins*/
        justify-content:space-around;
        gap: 1rem;
        
        
    }
    
    .imagenNosaltres2{
    
    width: 30%;
    height: 30%;
    border-radius: 5%;
    }
    /*//////////////////////////////////////*/
    
    /*SECCION MENUS*/
    .MENUGRANDE {
        color: white;
        display: flex;
        justify-content: center;
        background-color: #12203E;
        padding: 2%;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    
    .DivParaMenu1y2 {
    
        display: flex;
        gap: 1rem;
        margin-top: 15px;
       
        
    }
    
    /*DIV PARA ORDENDAR LAS FOTOS DE LOS MENUS*/
    .DivParaOrdenar {
    
        display: flex;
        flex-direction: column;
        
    
    }
    
    
    .menus1y2 {
        display: flex;
        border: 2px solid;
        border-color: #C4D2D9;
        align-items: center;
        justify-content: center;
        padding: 1%;
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    
    }
    
    /*DIV PARA FOTOS DE LOS MENUS*/
    .divFotosMenus {
    
        display: grid;
        grid-template-columns: auto auto;
        
    
    }
    /*tamaño fotos*/
    .divFotosMenus img {
     
        border-radius: 1%;
        border: 5px double;
        border-color: rgb(251, 247, 247);
        height: 100%; 
        width: 95%;
     
        
        
    }
    
    .divFotosMenus img:hover {
        transition: all 300ms;
        transform: scale(1.10);
        opacity: 0.8;
        
        
    }
    
    
    /*margenes imagenes de la derecha*/
    .fotoderecha {
    
        /* margin-left: 3%; */
    
    }
    
    /*//////////////////////////////////////*/
    /*GALERIA DE FOTOS*/
    .DivGaleria {
    
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
    
    }
    
    .DivGaleria img {
        border-radius: 1%;
        border: 5px double;
        border-color: rgb(251, 247, 247);
        width: 100%;
        height: 100%;
        
    }
    .DivGaleria img:nth-child(4n) {
        filter: brightness(.33);
    }
    
    .DivGaleria img:nth-child(4n+1) {
        filter: brightness(.33);
    }
    
    .DivGaleria img:hover {
    
        transition: all 300ms;
        transform: scale(1.1);
        filter: drop-shadow(0 0 0.5rem rgb(71, 181, 240));
    }
    /*//////////////////////////////////////*/
    /*SECCION footer*/
    footer {
        border: 2px solid;
        background-color: black;
        
        display: grid;
        grid-template-columns: 10rem  auto auto;
        padding-left: 3%;
        padding-right: 1%;
    
      
        
    }
    
    /*div del primer pack del footer sobre gmail*/
    .divFotoSobre {
    
    display: flex;
    align-items: center;
    
    
    
    }
    
    .FotoTelefonoYsobre {
       /* padding-left: 5%;
       padding-right: 5%; */
    }
    
    /*div del segundo pack de telefono footer*/
    .divFotoTelefono{
    
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
    
    
    .correo {
        color: white;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .numero {
        color: white;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .divTextoFooter {
        color: white;
       
        text-align: right;
    }
    /*//////////////////////////////////////*/
    
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        margin-top: 10%;
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 2%;
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* falta por poner texto encima de la foto */
    .textFOTOS {
       
    }
    

    @media (max-width: 576px) {
        body {
            margin: 0%;
            
        }

        
        
    }



    @media (max-width: 768px) {
        body {
            margin: 0%;
            
        }

        header {   
       
            background-color:  white;
            display: flex;
            position: sticky;
            top: 0px;
            justify-content: left;
            padding: 1.4%;
            /*aplicamos z-index para jugar con las capas
            para así evitar la superposición del texto de
            la imagen principal al header sticky*/
            z-index: 1;
            color: white;
            gap: 2%;
        }               
        
        /*****DUDA***** puedo cambiar cosas que ya están definidas pero no puedo quitarlas */
        .a {
            background-color: white;
            color: black;
            }

         /* @media */
        main {
            padding: 2%;
            margin-left: 5%;
            margin-right: 5%;
            }
        /* PRIMERo y segundo FOTO Y PARRAFO Y H1 */
        .PrimeraFotoYParrafo {
            display: grid;
            grid-template-rows: auto auto;
            justify-content:space-around;
            gap: 0px;
            
        }

        .imagenNosaltres{
    
            width: 100%;
            height: 100%;
            border-radius: 2%;
        
        }

        h2 {
            font-size:50px;
        }
        /* segundo parrafo y foto */
        .SegundaFotoYParrafo {
            display:grid;
           
            grid-template-rows: auto auto;
            justify-content:space-around;
            gap: 0px;
            
        }

        .imagenNosaltres2{
        grid-row-start: 1;
        width: 100%;
        height: 100%;
        border-radius: 2%;
        } 

        /* fotos grandes de los menus */
        .divFotosMenus {
    
            display: grid;
            grid-template-columns: none;
            grid-template-rows: auto auto;
            height: 0%;
            
        }

        .divFotosMenus img {
            
            height: 90%;
            width: 100%;
            
        
        }

        .DivParaOrdenar {
    
            gap: 2.25%;
            
        
        }

            h1 {
            margin-left: 0%;
            margin: 0%;
          
        }

        .p1 {
            font-size: 25px;
            margin: 0%;
        }

        .p2 {
            font-size: 25px;
            
        }

        .MENUGRANDE {
            font-size: 25px;
        }

        /* menus 1y2 que contienen los menus */
        .menus1y2 {
            font-size: 25px;
        }
        .DivGaleria {
    
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
            padding: 5%;
            grid-column-gap: 15%;
        
        }

        /* footer */
        footer {
            font-size: 23px;
            display: grid;
            grid-template-columns: auto auto auto;
            
        }

        footer img {
            width: 12%;
           
        }

    }
    
